
<div>
    <h1>Gender balance</h1>
    <canvas id="gender"></canvas>
</div>

<script>

    var can = document.getElementById("gender");
    var male = @ViewBag.male;
    var female = @ViewBag.female;

    var genderC = new Chart(can, {
        type: "doughnut",
        data: {
            labels: ["Male", "Female"],
            datasets: [{
                data: [male, female],
                backgroundColor: ["#f9f4f7", "#f8f2f7"],
                borderColor: ["#f9f4f7", "#f8f2f7"]
            }]
        },
        options: {
            title: {
                text: "Gender",
                display :true
            }
        }
    });


</script>
