
@{
    ViewData["Title"] = "Dashboard";

}

<head>
    <script src="~/js/Chart/Chart.js"></script>

</head>

<h1>Data Dashboard</h1>

<div>@await Html.PartialAsync("_Chart1")</div>
<hr>
<div>@await Html.PartialAsync("_Chart3")</div>
<hr>
<div>@await Html.PartialAsync("_Chart2")</div>








