
@{
    ViewData["Title"] = "Dashboard";

}

<head>
    <script src="~/js/Chart/Chart.js"></script>

</head>

<h1>Data Dashboard</h1>


@await Html.PartialAsync("_Chart1")

@await Html.PartialAsync("_Chart2")





